<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<div id="index">
<nav>
    <a href="/">Home</a>
    <a href="/game">Play Game</a>
    <a href="/about">About</a>
 </nav>
</div>
<div class="content">
    <h1>Fun Facts About The Number Guessing Game</h1>
    <h2>
        <ul>
           {% for fact in facts %}
           <li>{{fact}}</li>
           {% endfor %}
        </ul>
    </h2>
</div>
<div id="images">
    <img src="{{url_for('static',filename='images/images.jpg')}}">
    <img src="{{url_for('static',filename='images/pointing.jpg')}}">
</div>
</body>
</html>
