<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<div id="index">
<nav>
    <a href="/">Home</a>
    <a href="/game">Play Game</a>
    <a href="/about">About</a>
 </nav>
</div>
 <div class="about">
      <h1>Welcome to the Number Guessing Game!</h1>
      <p>This is the index page.Click on "Play Game" to start playing.
      Hope you enjoy the game!</p>
 </div>
<div id="images">
        <img src="{{url_for('static',filename='images/hi.png')}}">

</div>
</body>
</html>
